
    {% extends 'base.html.twig' %}
        {% block body %}
      {% if app.user %}
   <h2>CHAPTER ONE</h2>
          {% for details in chapterOne %}

          <p>{{details.id}}</p>
          <a href={{ path('admin.edit', {id: details.id}) }}>Editer</a>
          <form method="post" action="{{ path('admin.delete', {id: details.id}) }}">
          <input type="hidden" name="_method" value="DELETE">
          <button>Supprimer</button>
          </form>
          
          {% endfor %}
          <a href={{ path('admin.create')}}>Creer un details</a>
    <h2>CHAPTER TWO</h2>
             {% for details in chapterTwo %}

          <p>{{details.id}}</p>
          {% endfor %}
        
        {% else %}
        <h3>ERREUR</h3>
        <p>Il faut d'abord vous connectez pour acceder a cette partie de l'application</p>
        <a href={{ path('admin.connexion') }}>Se connecter</a>
        {% endif %}
        {% endblock %}
        {% block javascripts %}
         {{ encore_entry_script_tags('app') }}
        
        {% endblock %}
  
